<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Inventory levels</title>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-3">
        <form th:action="@{/search/product}" id="search_form" onsubmit="return validateForm()">

            <div class="input-group">
                <input type="text" id="product_code" th:name="product_code" class="form-control" placeholder="Type the product code to search the inventory"/>
                <div class="input-group-append">
                    <button type="submit" class="btn btn-secondary">
                        <i class="fa fa-search">Submit</i>
                    </button>
                </div>
            </div>


        </form>
<!--        <div th:text="${message}"></div>-->
        <a th:href="@{/}">Back</a>
    </div>

    <div class="container py-5"></div>
        <div class="row">
            <div class="col-10 mx-auto">
                <h1>Inventory status</h1>
                <!--Display error if any-->
                <div class="alert alert-danger" role="alert" th:if="${error}"}>
                    <strong>Error:</strong>
                    <span th:text="${message}"></span>
                </div>

                <table class="table table-striped" th:if="${status}">
                    <thead>
                    <tr>
                        <th scope="col">Product code</th>
                        <th scope="col">Warehouse code</th>
                        <th scope="col">Qty</th>
                        <th scope="col">Transfer</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="inventory : ${inventoryList}">
                            <form th:action="@{/transfer}">
                                <input type="hidden" name="productCode" th:value="${inventory.productCode}">
                                <input type="hidden" name="fromWarehouseCode" th:value="${inventory.warehouseCode}">
                                <input type="hidden" name="qty" th:value="${inventory.qty}">
                                <td th:text="${inventory.productCode}"></td>
                                <td th:text="${inventory.warehouseCode}"></td>
                                <td th:text="${inventory.qty}"></td>
                                <td><input type="submit" value="Transfer" th:if="${inventory.qty}"></td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

</body>
</html>